@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MenuViewModel

@foreach (Weekday day in Model.Weekdays)
{
    <h1>@day.ToString</h1>
}
